$colSet1-5-storm-gray: #1D2731;
$colSet1-4-sea-blue: #0B3C5D;
$colSet1-3-sky-blue: #328CC1;
$colSet1-2-sun-gold: #D9B310;
$colSet1-1-slate-ivory: ivory;
$colSet1-0-stone-gray: gray;
// 5,1 4,2 0,3

$colSet2-5-storm-gray: #1D2731;
$colSet2-4-sea-blue: #0B3C5D;
$colSet2-3-sky-blue: #328CC1;
$colSet2-2-slate-ivory: ivory;
$colSet2-1-sun-gold: #D9B310;
$colSet2-0-stone-gray: gray;
// 5,2 4,1 0,3



$color-5: $colSet1-5-storm-gray;
$color-4: $colSet1-4-sea-blue;
$color-3: $colSet1-3-sky-blue;
$color-2: $colSet1-2-sun-gold;
$color-1: $colSet1-1-slate-ivory;
$color-0: $colSet1-0-stone-gray;
