@import "colors";

.navbar {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    background-color: transparent;
}

.dropbtn {
    background-color: transparent;
    color: ivory;
    padding: 0em;
    border: none;
    font-size: 1em;
    transition-duration: 0.3s;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: transparent;
    color: #D9B310;
    border: none;
}

.dropbtn:focus {
    background-color: transparent;
    outline: none;
}

.dropbtn-svg {
    width: 2.5em;
    height: 2.5em;
}

.dropdown {
    display: block;
    align-self: flex-start;
    background: transparent;
    position: fixed;
    top: 0; 
    margin: .75em 0em 0em .75em;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 11em;
    border: 1px solid ivory;
    border-radius: .25em;
    opacity: .90;
    z-index: 100;
}

.dropdown-content:hover {
    border-color: $color-2;
}

.dropdown-content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown-content .dropdown-item:first-of-type {
    border-top: none;
    border-radius: .25em .25em 0em 0em;
    margin-top: 0px;
}

.dropdown-content .dropdown-item:last-of-type {
    border-bottom: none;
    border-radius: 0em 0em .25em .25em;
    margin-bottom: 0px;
}

.dropdown-item {
    background-color: #1D2731;
    color: ivory;
    padding: 1em 1em;
    border: 1px solid #1D2731;
    font-size: 1em;
    transition-duration: 0.3s;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #0B3C5D;
    color: #D9B310;
    border-top: 1px solid #D9B310;
    border-bottom: 1px solid #D9B310;
    border-left: 1px solid #0B3C5D;
    border-right: 1px solid #0B3C5D;
}

.dropdown-item:focus {
    outline: none;
}

.dropdown-content * {
    width: 100%;
}

.show {
    display:block;
}

#myBtn {
    display: none;
    background-color: transparent;
    color: ivory;
    position: fixed;
    right: 0em;
    bottom: 0em;
    padding: 0em;
    border: none;
    border-radius: 5px;
    margin: 0em .75em .75em 0em;
    outline: none;    
    font-size: 1em;
    transition-duration: 0.3s;
    z-index: 99;
    cursor: pointer;
}

#myBtn:hover {
    color: #D9B310;
}

.myBtn_icon {
    width: 2.5em;
    height: 2.5em;
}

.alert {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: $color-2;
    color: $color-5;
    position: fixed;
    top: 0em;
    left: 0em;
    width: 100%;
    height: 3vh;
    padding: 1em 0em;
    font-size: 2em;
    font-weight: bold;
    opacity: .90;
    z-index: 999;
}

.alert-text {
    opacity: .99;
}

.alert-close {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.alert-close:hover {
    color: $color-1;
}

.alert-close-icon {
    color: $color-5;
    width: 1.5em;
    height: 1.5em;
}

.alert-close-icon:hover {
    color: $color-1;
}

.hidden {
    display: none;
}

@media only screen and ( min-width:802px ) and ( max-width: 1699px ) {
    .watch-photo {
        width: 15em;
        height: 22.5em;
    }

    .top-three-row li {
        max-width: 15em;
    }

    .watch-list-photo-detail  {
        font-size: .85em;
    }

    .alert {
        font-size: 1.75em;
    }

    .search-form-transparent {
        min-width: 54%;
    }
}

@media only screen and (max-width: 801px) {
    .watch-photo {
        width: 12em;
        height: 18em;
    }

    .top-three-row li {
        max-width: 12em;
    }

    .watch-list-photo-detail  {
        font-size: .8em;
    }

    .alert {
        height: 6vh;
        font-size: 1.25em;
    }

    .search-result-query-tags, .search-result-query-tags-sort {
        width: 100%;
    }

    .search-result-query-tags-list-sort {
        width: 90%;
    }

    .search-result-query-tags-list-sort-button {
        width: 75%;
    }

    .intro {
        padding: 0em;
    }

    .summary {
        width: 100%;
    }
}
