@import "colors";

body{
    display: block;
    background-repeat: no-repeat;
    background-color: #414348;
    min-width: 100%;
    min-height: 100vh;
    font: normal 300 haboro-serif, serif;
}

#app {
    min-height: 100vh;
}

.splash-background {
    background-image: url("/img/background/omega_wallpaper_1920.jpg");
    background-size: cover;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100%;
    padding-bottom: 20px;
}

a {
    color: ivory;
    text-decoration: none;
}

footer {
    text-align: right;
    padding: 0 10% 1em 10%;
}

form .input {
    padding: 0 1em 0 1em;
    font-size: 1.2rem;
}

h1 {
    padding: 1em 0;
    font-size: 2.0rem;
    font-weight: 600;
}

h2 {
    padding: 1em;
    font-size: 1.5rem;
    font-weight: 650;
}

input[type="radio"] {
    width: 1.4em;
    height: 1.4em;
    margin: 0 8px 0 25px;
}

input[type="submit"] {
    font-size: 1.2rem;
}

.banner h1 {
    display: block;
    color: #0B3C5D;
    text-align: right;
    padding: 0.4em 0 0.6em;
    line-height: 0.8;
    letter-spacing: 0;
    font-size: 4.8rem;
    font-weight: 900;
    text-transform: uppercase;
}

.hidden {
    display: none;
}

.input-select {
    width: 50%;
    max-width: 40%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.0rem;
}

.intro {
    padding: 0 10% 3em 30%;
}

.radio-inputs {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    font-size: 1.5rem;
}

.splash > h1 {
    text-align: left;
    font-size: 2.2rem;
}

.splash-form {
    padding: 1em;
}

.splash-form-submit {
	display: inline-block;
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	color: #0B3C5D;
	padding: 4px 18px;
	border: 1px solid #dcdcdc;
	border-radius: 2px;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 1px 0px gray;
	cursor: pointer;
}

.splash-form-submit:hover {
    background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color: #dfdfdf;
}

.splash-form-submit:active {
    position: relative;
	top: 1px;
}

.splash-search-box {
    display: inline;
    text-align: center;
    max-width: 90%;
    margin: 5px;
}

.splash-search-transparent {
    background-color: lightgray;
    text-align: center;
    min-width: 700px;
    max-width: 60%;
    min-height: 385px;
    border: 2px solid #1D2731;
    border-radius: 6px;
    margin: 2em auto;
    opacity: 0.95;
}

.summary {
    min-width: 900px;
}

.summary p {
    text-align: right;
    text-shadow: 0px 1px 0px gray;
    line-height: 1.6;
    letter-spacing: 0.1em;
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
}
