@import "colors";

body{
    display: block;
    background-repeat: no-repeat;
    background-color: #414348;
    min-width: 100%;
    min-height: 100vh;
    // font: normal 300 haboro-serif, serif;
}

#app {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.splash-background {
    background-image: url("/img/background/omega_wallpaper_1920.jpg");
    background-size: contain;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100%;
    padding-bottom: 20px;
}

h1 {
    padding: 1em 0;
    font-size: 2.0rem;
    font-weight: 600;
}

h2 {
    padding: 1em;
    font-size: 1.5rem;
    font-weight: 650;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner h1 {
    display: block;
    color: #0B3C5D;
    text-align: center;
    padding: 0.4em 0 0.6em;
    line-height: 0.8;
    letter-spacing: 0;
    font-size: 4.8rem;
    font-weight: 900;
    text-transform: uppercase;
}

.hidden {
    display: none;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3em 3em;
}

.summary {
    width: 45%;
}

.summary p {
    text-align: center;
    text-shadow: 0px 1px 0px gray;
    line-height: 1.6;
    letter-spacing: 0.1em;
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
}

.splash-search-transparent {
    background-color: transparent;
}

.splash-search-box {
    display: flex;
    justify-content: center;
}

.search-form-transparent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-0;
    min-width: 45%;
    max-width: 75%;
    border: .1em solid $color-5;
    border-radius: 6px;
    opacity: 0.95;
}

.search-form-property {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: ivory;
    width: 90%
}

.search-form-property-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-5;
    color: ivory;
    width: 100%;
    padding: .30em 0px;
    border: 1px solid $color-5;
    border-radius: .25em;
    margin: 3em 0em 0em;
}

.search-form-property-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: ivory;
    margin: 1em 0em 0em;
}

.search-form-property-option-checkbox-container {
    display: flex;
    align-items: center;
    padding: 0em 1em 0em 0em;
}

.search-form-property-option-checkbox-text {
    background-color: $color-5;
    color: $color-1;
    padding: .25em .5em;
    border: .1em solid $color-5;
    border-radius: .25em;
    margin: .25em;
    text-align: center;
    font-size: 1em;
    transition-duration: 0.3s;
    cursor: pointer;
}

.search-form-property-option-checkbox-text-checked {
    background-color: $color-4;
    color: $color-2;
    border: .1em solid $color-2;
}

.search-form-property-option-checkbox-text:hover {
    background-color: $color-4;
    color: $color-2;
    border: .1em solid $color-2;
}

.search-form-submit-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1.5em 0em 1.5em;
    border-top: 1px solid $color-5;
    margin: 3em 0em 0em;
}

.search-form-submit-button {
    background-color: $color-5;
    color: $color-1;
    width: 60%;
    padding: .75em .75em;
    border: 1px solid $color-5;
    border-radius: .25em;
    margin: .25em;
    font-size: 1em;
    transition-duration: 0.3s;
    cursor: pointer;
}

.search-form-submit-button:hover {
    background-color: $color-4;
    color: $color-2;
    border: 1px solid $color-2;
}

.search-form-submit-button:focus {
    outline: none;
}
