@import './colors';

.session-form-parent {
    display: flex;
    justify-content: center;
    background: $color-0;
    padding: 1em;
    border: 1px solid $color-5;
    border-radius: .25em;
    font-family: 'Roboto', sans-serif;
  }

// TODO
.session-errors {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-2;
    color: $color-5;
    padding: 0 1em;
    // border: 1px solid $color-5;
    border-radius: .25em;
}

.session-error-item:first-of-type {
    padding-top: 10px;
}

.session-error-item:last-of-type {
    padding-bottom: 10px;
}

.session-form-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 66%;
    padding: 3em 0em;
}

.session-input-group {
    display: flex;
    width: 100%;
}

.session-input-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    margin: 1em 0em 0em;
}

.session-input-label {
    color: $color-1;
    padding: 0em 0em 0em 0em;
    font-size: 1em;
}

.session-input-field {
    background-color: $color-5;
    color: $color-1;
    padding: .25em 1em;
    border: 1px solid $color-5;
    border-radius: .25em;
    margin: 1em 0em 0em;
    transition-duration: 0.3s;
    font-size: 1em;
}

.session-input-field:hover{
    background-color: $color-4;
    color: $color-2;
    border-color: $color-2;
}

.session-input-field:focus  {
    background-color: $color-4;
    color: $color-2;
    border-color: $color-2;
    outline: none;
}

.session-form-buttons-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3em 0em 0em;
}

.session-button {
    background-color: $color-5;
    color: $color-1;
    padding: .75em 1em;
    border: 1px solid $color-5;
    border-radius: .25em;
    margin: .5em;
    font-size: 1em;
    transition-duration: 0.3s;
    cursor: pointer;
}

.session-button:hover {
    background-color: #0B3C5D;
    color: #D9B310;
    border: 1px solid #D9B310;
}

.session-button:focus {
    outline: none;
}
