.profile-page-container {
  background-color: #414348;
  min-height:100vh;
  /* width: 66%; */
  display: flex;
  flex-direction: column;
  align-items: center;
    background-image: url("https://drive.google.com/uc?exportview&id=1tZuHPPeNoQojSfjfUhXJFr8BLiWxKHPP");
  /* background-image: url("https://drive.google.com/uc?exportview&id=160pGDaZBgTxwIV-d-CuJ1wPUPke3DU4e"); */
}

.profile-page-intro-text {
  padding: 30px 50px;
  text-align: center;
  font-size: 24px;
  line-height: 20px;
  font-weight: 200;
  color: linen;
  background: #182e4f;
  border-radius: 4px;
  width: 66%;
  margin-top: 32px;
}

.search-items-container {
  padding: 30px 10px 10px;
  width: 66%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-items-header {
  padding: 10px;
  margin: 1em;
  font-size: 21px;
  /* padding-bottom: 12px; */
  width: 33%;
  text-align: center;
  color: linen;
  background-color: #182e4f;
}

.search-items-index {
  width: 100%;
}

.search-item-parent {
  margin: 5px;
  padding: 5px;
  /* background: lightgrey; */
  border-radius: 4px;
  min-height: 6.5vh;
  /* width: 66%; */
  display: flex;
  flex-direction: column;
  background-color: #182e4f;
}

.search-item-parent:hover {
  margin: 5px;
  padding: 5px;
  /* background: lightgrey; */
  border-radius: 4px;
  min-height: 6.5vh;
  /* width: 66%; */
  display: flex;
  flex-direction: column;
  background-color: #003000;
}

.search-item-parent:hover div {
  background-color: #003000;
}

.search-item-header {
  background-color: #182e4f;
  border: none;
  color: linen;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 1.5em;
  /* margin: 5px; */
  border-radius: 4px;
  /* width: 100%; */
  /* height: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.profile-search-label {
  /* padding-left: .5em; */
}

.profile-search-delete {
  width: 1.2em;
  margin: 0px;
  padding: 0px;
  /* background-color: #182e4f; */
  border: 0px;
  border-radius: 0px;
  color: linen;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.profile-search-delete-icon {
  /* color: white; */
}

.profile-search-delete-icon:hover {
  /* color: white; */
  color: #900000;
  /* background-color: white; */
}


.search-item-details {
  padding: 5px;
  margin: 5px;
  /* background-color: #182e4f; */
}

.search-item-details-list {
  /* display: inline-flex; */
}

.search-item-details-list-item {
  float: left;
  /* display: inline; */
  background-color: linen;
  padding: .25em;
  margin: .25em;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: .25em;
  /* font-family: Arial, Helvetica, sans-serif; */
}