.review-index-parent {
  padding: 30px 10px;
}

.review-index-header {
  font-size: 24px;
}

.review-form-header {
  font-size: 24px;
  /* padding: 0 20px; */
}

.review-item-parent {
  margin: 10px;
  padding: 10px;
  background: lightgrey;
  border-radius: 4px;
}

.review-item-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  font-weight: bold;
}

.owned-review {
  background: white;
  border: 1px solid lightgrey;
}