.review-index-parent {
  padding: 30px 10px;
}

.review-index-header {
  font-size: 24px;
}

.review-form-header {
  font-size: 24px;
  /* padding: 0 20px; */
}

.review-item-parent {
  margin: 10px;
  padding: 10px;
  background: lightgrey;
  border-radius: 4px;
}

.review-item-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  font-weight: bold;
}

.owned-review {
  background: white;
  border: 1px solid lightgrey;
}

.review-dropdown-icon {
  fill: red;
  height: 16px;
  width: 16px;
  position: relative;
}

.review-dropdown-contents {
  position: absolute;
  background: #fff;
  right: 45px;
  display: none;
}

.review-dropdown-item:hover {
  background: lightskyblue
}

.show {
  display: block;
}