

/*Search*/


.splash-form-submit:hover {
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}

.splash-form-submit:active {
    position:relative;
	top:1px;
}
