body{
    display: block;
    background-repeat: no-repeat;
    background-color: #414348;
    font-family: haboro-serif, serif;
    /* font-family: 'Roboto', sans-serif; */
    font-style: normal;
    font-weight: 300;
    min-width: 100%;
    min-height: 100vh;
}

#app {
    min-height: 100vh;
}

.splash-background {
    background-image: url("/img/background/omega_wallpaper_1920.jpg");
    min-width: 100%;
    min-height: 100vh;
    background-size: cover;
    top: 0;
    left: 0;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: ivory;
}

button {
    background-color: ivory;
    cursor: pointer;
    padding: 4px 10px;
    margin: 5px 5px;
    border: 2px solid #1D2731;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 800;
    color: #263d5f;
}

button:hover {
    background-color: #D9B310;
    /* background-color: yellow; */
    color: #1D2731;
    /* color: #263d5f; */
    border: 2px solid #D9B310;
}

footer {
    text-align: right;
    padding: 0 10% 1em 10%;
}

form .input {
    padding: 0 1em 0 1em;
    font-size: 1.2rem;

}

h1 {
  font-size: 2.0rem;
  font-weight: 600;
  padding: 1em 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 650;
  padding: 1em;
}

input[type="radio"] {
    margin: 0 8px 0 25px;
    width: 1.4em;
    height: 1.4em;
}

input[type="submit"] {
    font-size: 1.2rem;
}

/* .back-to-search {
    font-size: 1.5rem;
    margin: 1em;
} */

.banner h1 {
    display: block;
    font-size: 4.8rem;
    letter-spacing: 0;
    line-height: 0.8;
    text-transform: uppercase;
    font-weight: 900;
    color: #0B3C5D;
    text-align: right;
    padding: 0.4em 0 0.6em;
}

.hidden {
  display: none;
}

.input-select {
    max-width: 40%;
    padding: 5px;
    font-size: 1.0rem;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.intro {
    padding-left: 25%;
    padding: 0 10% 3em 30%;
}

.navbar {
    align-self: flex-start;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
}

.radio-inputs {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    padding: 1em;
}

.splash > h1 {
    font-size: 2.2rem;
    text-align: left;
}

.splash-form {
    padding: 1em;
}  

.splash-form-submit {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	border-radius:2px;
	border:1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #0B3C5D;
	font-weight:bold;
	padding:4px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px gray;
}

.splash-form-submit:hover {
  background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}

.splash-form-submit:active {
    position:relative;
	top:1px;
}

.splash-search-box {
    display: inline;
    text-align: center;
    max-width: 90%;
    margin: 5px;
}

.splash-search-transparent {
    background-color: lightgray;
    margin: 2em auto;
    border: 2px solid #1D2731;
    opacity: 0.95;
    text-align: center;
    max-width: 60%;
    min-width: 700px;
    min-height: 385px;
    border-radius: 6px;
}

.summary {
  min-width: 900px;
}

.summary p {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.6;
    text-align: right;
    text-shadow:0px 1px 0px gray;
}
