.session-form-parent {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 420px;
  width: 40%;
  max-width: 580px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.session-form-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.or-separator {
  font-size: 20px;
  margin-top: 16px;
}

.session-errors {
  padding: 0 20px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0B3C5D;
  color: white;
  border-radius: 4px;
}

.session-error-item:first-of-type {
  padding-top: 10px;
}

.session-error-item:last-of-type {
  padding-bottom: 10px;
}

.session-form-main {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}

.session-input-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: space-between; */
  margin: 10px;
}

.session-input-item {
  display: flex;
  flex-direction: column;
}

.session-input-label {
  margin-bottom: 5px;
  font-weight: 400;
}

.session-input-field {
  font-size: 14px;
  width: 180px;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 6px;
}

/* .login-form-main {
  display: flex;
  flex-direction: column;
}

.signup-form-main {
  display: flex;
  flex-direction: column;
} */