body {
    background-image: "http://drive.google.com/uc?exportview&id=1tXu1SabkFIGGOjzolIBNR5rHVLEJtNfh";
}

.banner h1 {
    display: block;
    font-size: 4.8rem;
    letter-spacing: 0;
    line-height: 0.8;
    padding: 1em 0 0;
    text-transform: uppercase;
    font-weight: 900;
    color: #182e4f;
    text-align: right;
}

.summary p {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.6;
    margin: 0 0 1.5em;
    text-align: right;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}