body{
    display: block;
    background-repeat: no-repeat;
    background-color: #414348;
    font-family: haboro-serif, serif;
    font-style: normal;
    font-weight: 300;
    min-width: 100%;
    min-height: 100vh;
}

#app {
    min-height: 100vh;
}

.results-background {
    /* Top image is German movement bg, bottom is Casio GShock bg */
    background-image: url("https://drive.google.com/uc?exportview&id=160pGDaZBgTxwIV-d-CuJ1wPUPke3DU4e");
    /* background-image: url("https://drive.google.com/uc?exportview&id=1tZuHPPeNoQojSfjfUhXJFr8BLiWxKHPP"); */
    min-width: 100%;
    min-height: 100vh;
    background-size: cover;
    top: 0;
    left: 0;
}

.splash-background {
    background-image: url("http://drive.google.com/uc?exportview&id=1s5R4g3L-JOjEe2ltMYsD13sqcKR530gv");
    min-width: 100%;
    min-height: 100vh;
    background-size: cover;
    top: 0;
    left: 0;
}

a {
    text-decoration: none;
    color: linen;
}

button {
    background-color: lightgrey;
    cursor: pointer;
    padding: 4px 10px;
    margin: 5px 5px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 800;
    color: #263d5f;
}

footer {
    text-align: right;
    padding: 0 10% 1em 10%;
}

form .input {
    padding: 0 1em 0 1em;
    font-size: 1.2rem;

}

h1 {
  font-size: 2.0rem;
  font-weight: 600;
  padding: 1em 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 650;
  padding: 1em;
}

input[type="radio"] {
    margin: 0 8px 0 25px;
    width: 1.4em;
    height: 1.4em;
}

input[type="submit"] {
    font-size: 1.2rem;
}

.back-to-search {
    font-size: 1.5rem;
    margin: 1em;
}

.banner h1 {
    display: block;
    font-size: 4.8rem;
    letter-spacing: 0;
    line-height: 0.8;
    text-transform: uppercase;
    font-weight: 900;
    color: #182e4f;
    text-align: right;
    padding: 0.4em 0 0.6em;
}

.hidden {
  display: none;
}

.input-select {
    max-width: 40%;
    padding: 5px;
    font-size: 1.0rem;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.intro {
    padding-left: 25%;
    padding: 0 10% 3em 30%;
}

.navbar {
    background-color: transparent;
}

.radio-inputs {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    padding: 1em;
}

/* Reviews */

.new-review-textarea {
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px;
  height: 60px;
}

.new-review-button {
  padding: 2.5px 0;
  border: 1px solid #414348;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 18px;
  background: #fff;
}

.new-review-button:hover {
  cursor: pointer;
  background: lightgray;
}

.owned-review {
  background: linen;
  border: 1px solid gray;
}

.react-tabs {
  background-color: #fff;
  border-bottom: 1px solid #aaa;
}

.react-tabs__tab {
  font-size: 2em;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab-list {
  display: flex;
  background: lightgrey;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0 1rem;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.review-dropdown-contents {
  position: absolute;
  background: #fff;
  top: 15px;
  right: 1px;
  display: none;
  width: 130px;
  z-index: 10;
  border: 2px solid lightgray;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.review-dropdown-icon {
  fill: black;
  height: 16px;
  width: 16px;
  position: relative;
  padding: 0 5px;
}

.review-dropdown-icon:hover {
  cursor: pointer;
  fill: lightgray;
}

.review-dropdown-parent {
  position: relative;
  display: flex;
  align-items: center;
}

.review-dropdown-item {
  padding: 5px;
  border-bottom: 1px solid lightgray;
}

.review-dropdown-item:hover {
  cursor: pointer;
}

.review-dropdown-item:hover {
  background: lightgray
}

.review-edit-form {
  display: flex;
  flex-direction: column;
}

.review-edit-textarea {
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px;
  height: 60px;
}

.review-form-body {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.review-form-container {
    margin-bottom: 20px;
}

.review-form-header {
    font-size: 24px;
}

.review-index-parent {
  padding: 30px 10px 10px;
}

.review-index-header {
  font-size: 24px;
}

.review-item-parent {
  margin: 10px 0;
  padding: 10px;
  background: lightgrey;
  border-radius: 4px;
}

.review-item-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  font-weight: bold;
  align-items: center;
}

.summary {
  min-width: 900px;
}

.update-review-button {
  padding: 2.5px 0;
  background: lightgray;
  border: 1px solid gray;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 18px;
}

.update-review-button:hover {
  cursor: pointer;
  background: rgb(168, 168, 168);
}
/* ---------------------- */

.search-result-show {
    background-color: #182e4f;
    margin: 2em auto;
    border: 2px solid black;
    filter: alpha(opacity=90);
    max-width: 90%;
    min-width: 700px;
    min-height: 80%;
    border-radius: 6px;
    overflow: auto;
}

.search-result-show h1 {
    color: linen;
}

.show {
  display: block;
}

/* Splash page */

.splash > h1 {
    font-size: 2.2rem;
    text-align: left;
}

.splash-form {
    padding: 1em;
}  

.splash-form-submit {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	border-radius:2px;
	border:1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #182e4f;
	font-weight:bold;
	padding:4px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px gray;
}

.splash-form-submit:hover {
  background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}

.splash-form-submit:active {
    position:relative;
	top:1px;
}

.splash-search-box {
    display: inline;
    text-align: center;
    max-width: 90%;
    margin: 5px;
}

.splash-search-transparent {
    background-color: lightgray;
    margin: 2em auto;
    border: 2px solid black;
    opacity: 0.95;
    text-align: center;
    max-width: 60%;
    min-width: 700px;
    min-height: 385px;
    border-radius: 6px;
}

/* --------------- */

.summary p {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.6;
    text-align: right;
    text-shadow:0px 1px 0px gray;
}

.top-three-row {
    text-align: center;
    margin: 3em 0;
    height: 80%
}

.top-three-row li {
    display: inline-block;
    background-color: linen;
    top: 5em;
    text-align: center;
    border: 5px solid black;
    border-radius: 5px;
}

.top-three-row img {
    border-bottom: 5px solid black;
    /* border-radius: 5px; */
}

.top-three-row ul {
    display: flex;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    max-width: 80%;
}

.watch-photo {
    width: 18em;
    height: 28em;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.search-result-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-result-save-container {
    margin: 24px;
}
